<!doctype html>
<html ng-app="app">
<head>
    <title>LU-PD2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <!--<script src="view/app.js"></script>
    <script src="view/top.js"></script>

    <script src="view/table.js"></script>-->

</head>

<body>

<!-- Modules -->
<script src="view/app.js"></script>

<!-- Controllers -->
<script src="view/controller/controller.js"></script>

<!-- Services -->
<!--<script src="view/services/play.service.js"></script>-->
<script src="view/services/table.service.js"></script>
<script src="view/services/player.service.js"></script>
<script src="view/services/players.service.js"></script>
<script src="view/services/judges.service.js"></script>
<script src="view/services/goalkeepers.service.js"></script>
<script src="view/services/evil.service.js"></script>
<script src="view/services/place.service.js"></script>

<!-- Directives -->
<div ng-controller="MainController as main">

    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
<div>
    <h1>Championship</h1>
    <table class="table table-inverse">
        <tr>
            <th>Name</th>
            <th>Win</th>
            <th>Lose</th>
            <th>PostWin</th>
            <th>PostLose</th>
            <th>VG</th>
            <th>LG</th>
            <th>Points</th>
        </tr>
        <tr ng-repeat="x in table">
            <td>{{ x.name }}</td>
            <td>{{ x.win }}</td>
            <td>{{ x.lose }}</td>
            <td>{{ x.postWin }}</td>
            <td>{{ x.postLose }}</td>
            <td>{{ x.vg }}</td>
            <td>{{ x.lg }}</td>
            <td>{{ x.points }}</td>
        </tr>
    </table>
</div>
<div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
    <div>
        <h1>Places</h1>
        <table class="table table-inverse">
            <tr>
                <th>Name</th>
                <th>Croud</th>
                <th>Games</th>
            </tr>
            <tr ng-repeat="x in place">
                <td>{{ x.name }}</td>
                <td>{{ x.croud }}</td>
                <td>{{ x.games }}</td>
            </tr>
        </table>
    </div>
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
<div>
    <h1>TOP players</h1>
    <table class="table table-inverse">
        <tr>
            <th>Komanda</th>
            <th>Nr</th>
            <th>Vards</th>
            <th>Loma</th>
            <th>Sodi</th>
            <th>Yellow</th>
            <th>Red</th>
            <th>Mainas</th>
            <th>VG</th>
            <th>P</th>
            <th>Pamatsastavs</th>
            <th>Total</th>
        </tr>
        <tr ng-repeat="x in top">
            <td>{{ x.komanda }}</td>
            <td>{{ x.Nr }}</td>
            <td>{{ x.Vards + " " + x.Uzvards }}</td>
            <td>{{ x.Loma }}</td>
            <td>{{ x.sodi }}</td>
            <td>{{ x.yellow }}</td>
            <td>{{ x.red }}</td>
            <td>{{ x.mainas }}</td>
            <td>{{ x.vg }}</td>
            <td>{{ x.p }}</td>
            <td>{{ x.pamatsastavs }}</td>
            <td>{{ x.total }}</td>
        </tr>
    </table>
</div>
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div>
        <h1>Evil players</h1>
        <table class="table table-inverse">
            <tr>
                <th>Komanda</th>
                <th>Nr</th>
                <th>Vards</th>
                <th>Loma</th>
                <th>Sodi</th>
                <th>Yellow</th>
                <th>Red</th>
                <th>Mainas</th>
                <th>VG</th>
                <th>P</th>
                <th>Pamatsastavs</th>
                <th>Total</th>
            </tr>
            <tr ng-repeat="x in evil">
                <td>{{ x.komanda }}</td>
                <td>{{ x.Nr }}</td>
                <td>{{ x.Vards + " " + x.Uzvards }}</td>
                <td>{{ x.Loma }}</td>
                <td>{{ x.sodi }}</td>
                <td>{{ x.yellow }}</td>
                <td>{{ x.red }}</td>
                <td>{{ x.mainas }}</td>
                <td>{{ x.vg }}</td>
                <td>{{ x.p }}</td>
                <td>{{ x.pamatsastavs }}</td>
                <td>{{ x.total }}</td>
            </tr>
        </table>
    </div>

    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div>
        <h1>Goalkeepers</h1>
        <table class="table table-inverse">
            <tr>
                <th>Komanda</th>
                <th>Nr</th>
                <th>Vards</th>
                <th>Games</th>
                <th>Goals</th>
                <th>Average</th>
            </tr>
            <tr ng-repeat="x in goalkeeper">
                <td>{{ x.komanda }}</td>
                <td>{{ x.nr }}</td>
                <td>{{ x.vards + " " + x.uzvards }}</td>
                <td>{{ x.games }}</td>
                <td>{{ x.goals }}</td>
                <td>{{ (x.goals / x.games) | number:1 }}</td>
            </tr>
        </table>
    </div>
<div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
    <h1>Player Select</h1>
    <div class="form-group">
        <label for="exampleSelect1">Example select</label>
        <select class="form-control" id="exampleSelect1" ng-model="selected">
            <option ng-repeat="x in players">{{ x }}</option>
        </select>
    </div>
    <label ng-if="typeof(selected !== undefined)">{{ selected }}</label>

    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div>
        <h1>Evil Judges</h1>
        <table class="table table-inverse">
            <tr>
                <th>Vards</th>
                <th>Uzvards</th>
                <th>Loma</th>
                <th>Sodi</th>
            </tr>
            <tr ng-repeat="x in judge">
                <td>{{ x.Vards }}</td>
                <td>{{ x.Uzvards }}</td>
                <td>{{ x.vt }}</td>
                <td>{{ x.sodi }}</td>
            </tr>
        </table>
    </div>

    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

</body>
</html>